APP_ENV=local
API_URL=http://10.0.2.2:1337/api
SOCKET_URL=http://10.0.2.2:1337
BYPASS_FIREBASE_AUTH=true
LOCAL_SUPERADMIN_PHONES=
SENTRY_DSN=
FC_ENABLE_PUSH_NOTIFICATIONS=1
FC_ENABLE_SMART_NOTIFICATIONS=1
FC_ENABLE_NOTIFICATION_TEST_TRIGGER=1
FC_SEARCH_MAP_PROVIDER=tomtom
TOMTOM_API_KEY=
