BUILD_ENV=production
API_URL=https://found-club-admin.dev.zol.fr/api
SOCKET_URL=wss://found-club-admin.dev.zol.fr
SENTRY_DSN=
APP_STORE_URL=https://apps.apple.com/app/6544802627
GOOGLE_PLAY_URL=https://play.google.com/store/apps/details?id=com.foundclub
DELETE_ACCOUNT_URL=https://foundclubpro.com/suppression.html
CONTACT_URL=https://foundclubpro.com/contact.html